<div class="container-lg text-center">
  <div class="row row-cols-auto">
    <app-note class="col" [data]="note"></app-note>
    <app-note class="col" [data]="note"></app-note>
    <app-note class="col" [data]="note"></app-note>
    <app-note class="col" [data]="note"></app-note>
    <app-note class="col" [data]="note"></app-note>
    <app-note class="col" [data]="note"></app-note>
    <app-note class="col" [data]="note"></app-note>
    <app-note class="col" [data]="note"></app-note>
    <app-note class="col" [data]="note"></app-note>
    <app-note class="col" [data]="note"></app-note>
    <app-note class="col" [data]="note"></app-note>

    <app-note class="col" [data]="note"></app-note>
    <app-note class="col" [data]="note"></app-note>
    <app-note class="col" [data]="note"></app-note>
    <app-note class="col" [data]="note"></app-note>

  </div>
</div>


