<div class="container col-lg-6 mt-4">
  <form [formGroup]="form" novalidate>
    <h1>Register page</h1>
    <div class="mb-3">
      <label for="login" class="form-label">Login</label>
      <input type="text" placeholder="Enter your login" formControlName="login" name="login" class="form-control"
             id="login" required>
    </div>
    <div *ngIf="form.controls['login'].invalid && (form.controls['login'].dirty || form.controls['login'].touched)"
         class="alert alert-danger">
      Login is required and should have from 5 to 40 characters.
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" placeholder="Enter password" formControlName="password"
             class="form-control" id="password" required>
    </div>
    <div
      *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
      class="alert alert-danger">
      Password is required and should have from 5 to 40 characters.
    </div>
    <button (click)=handleRegister() [disabled]="!form.valid" class="btn btn-success">Register</button>
  </form>
</div>
